# 가수와 소속사 매칭
* 전 실시간 음원 파일을 가져와 곡을 확인
* 해당일 실시간 음원 파일의 곡과 비교하여 새로 생긴 곡만 추출

## 라이브러리

In [229]:
import pandas as pd
import os

### 사이트 설정

In [267]:
# 음원 사이트 설정
# flo, bugs, genie, melon, vibe, soribada 중 택1.
site_name = 'melon'

## 기존 파일 가져오기

In [268]:
# 현재 작업 경로
path = 'c:/data/Wantreez/Crawling/music/'

In [269]:
# 매칭 파일 저장 경로, 폴더 생성
folder_path = f'/crawled_data/match_{site_name}/'
created_folder_path = path + folder_path
os.makedirs(created_folder_path, exist_ok=True)

In [270]:
# 실시간 순위 파일 위치로 작업위치 이동
file_folder_path = f'/crawled_data/live_{site_name}/'
file_path = path + file_folder_path
try:
    os.chdir(file_path)
except:
    pass

In [271]:
# 파일 이름들
file_list = os.listdir()
file_list

['live_melon_20220405.xlsx',
 'live_melon_20220406.xlsx',
 'live_melon_20220407.xlsx',
 'live_melon_20220412.xlsx',
 'live_melon_20220413.xlsx',
 'live_melon_20220413_153438.xlsx',
 'live_melon_20220414_134807.xlsx',
 'live_melon_20220415_180604.xlsx',
 'live_melon_20220418_110427.xlsx',
 'live_melon_20220419_110436.xlsx',
 'live_melon_20220420_110419.xlsx',
 'live_melon_20220421_110456.xlsx',
 'live_melon_20220422_110438.xlsx',
 'live_melon_20220425_110456.xlsx',
 'live_melon_20220426_110432.xlsx',
 'live_melon_20220427_110430.xlsx']

### 가져올 날짜 설정

In [272]:
# 가져올 날짜 설정
start_date = '2022-04-18'
end_date = '2022-04-25'
mod_start_date = start_date.replace('-', '')
mod_end_date = end_date.replace('-', '')
mod_start_date, mod_end_date

('20220418', '20220425')

### 새 파일 날짜 설정

In [273]:
# 새 파일 날짜 설정
new_date = '2022-04-26'
mod_new_date = new_date.replace('-', '')
mod_new_date

'20220426'

In [274]:
for i, one_file in enumerate(file_list):
    if mod_start_date == mod_end_date:
        start_idx = i
        end_idx = i
    else:
        if mod_start_date in one_file:
            start_idx = i
        elif mod_end_date in one_file:
            end_idx = i
mod_file_list = file_list[start_idx:end_idx+1]
mod_file_list

['live_melon_20220418_110427.xlsx',
 'live_melon_20220419_110436.xlsx',
 'live_melon_20220420_110419.xlsx',
 'live_melon_20220421_110456.xlsx',
 'live_melon_20220422_110438.xlsx',
 'live_melon_20220425_110456.xlsx']

In [275]:
df = pd.DataFrame()
for one in mod_file_list:
    temp = pd.read_excel(one)
    df = pd.concat([df, temp], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      600 non-null    object
 1   순위      600 non-null    int64
 2   곡       600 non-null    object
 3   가수      600 non-null    object
 4   앨범      600 non-null    object
dtypes: int64(1), object(4)
memory usage: 23.6+ KB

In [276]:
df.head()

,날짜,순위,곡,가수,앨범
0,2022-04-18,1,봄여름가을겨울 (Still Life),BIGBANG (빅뱅),봄여름가을겨울 (Still Life)
1,2022-04-18,2,TOMBOY,(여자)아이들,I NEVER DIE
2,2022-04-18,3,LOVE DIVE,IVE (아이브),LOVE DIVE
3,2022-04-18,4,Feel My Rhythm,Red Velvet (레드벨벳),‘The ReVe Festival 2022 - Feel My Rhythm’
4,2022-04-18,5,사랑인가 봐,멜로망스,사랑인가 봐 (사내맞선 OST 스페셜 트랙)

In [277]:
len(df['곡'].unique())

112

In [278]:
artist_list = df['가수'].unique()
len(df['가수'].unique())

72

In [279]:
mod_artist_list = [x.strip() for x in artist_list]
mod_artist_list[:5]

['BIGBANG (빅뱅)', '(여자)아이들', 'IVE (아이브)', 'Red Velvet (레드벨벳)', '멜로망스']

### 기존 파일 가수 목록 출력

In [280]:
dict = {'가수':mod_artist_list}
artist_df = pd.DataFrame(dict)
artist_df.to_excel(f'{created_folder_path}{site_name}_{start_date}_{end_date}.xlsx', index=False)
print(f'{site_name}_{start_date}_{end_date}.xlsx' + ' 출력 완료.')

melon_2022-04-18_2022-04-25.xlsx 출력 완료.

## 새로운 실시간 음원 파일 불러오기

In [281]:
for i, one_file in enumerate(file_list):
    if mod_new_date in one_file:
        new_idx = i
new_file_name = file_list[new_idx]
new_file_name

'live_melon_20220426_110432.xlsx'

In [282]:
new_df = pd.read_excel(new_file_name)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      100 non-null    object
 1   순위      100 non-null    int64
 2   곡       100 non-null    object
 3   가수      100 non-null    object
 4   앨범      100 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [283]:
new_artist_list = new_df['가수'].unique()
len(new_artist_list)

65

In [284]:
mod_new_artist_list = [x.strip() for x in new_artist_list]

### 새로운 가수 수

In [285]:
# 새로운 가수
new_pop_artist_list = []
for one in mod_new_artist_list:
    if one not in mod_artist_list:
        new_pop_artist_list.append(one)
len(new_pop_artist_list)

0

In [286]:
dict = {'새로운_가수':new_pop_artist_list}
new_in_artist = pd.DataFrame(dict)
new_in_artist

Empty DataFrame
Columns: [새로운_가수]
Index: []

In [287]:
# 파일로 출력
file_name = f'{site_name}_new_in_artists_{new_date}.xlsx'
new_in_artist.to_excel(created_folder_path + file_name, index=False)
print(f'{file_name} 출력 완료.')

melon_new_in_artists_2022-04-26.xlsx 출력 완료.

# 코드 마지막