In [1]:
import pandas as pd
from numpy import nan

In [2]:
dict = {'날짜':['2022-05-18', '2022-05-19', '2022-05-20'], '곡':['테스트곡1',' 테스트곡1', '테스트곡1'], '가수':['테스트가수1', '테스트가수1', '테스트가수1'], '순위':[56, nan ,12]}
df = pd.DataFrame(dict)
df

           날짜       곡      가수    순위
0  2022-05-18   테스트곡1  테스트가수1  56.0
1  2022-05-19   테스트곡1  테스트가수1   NaN
2  2022-05-20   테스트곡1  테스트가수1  12.0

In [3]:
df['순위변동'] = df['순위'] - df['순위'].shift(1)
df

           날짜       곡      가수    순위  순위변동
0  2022-05-18   테스트곡1  테스트가수1  56.0   NaN
1  2022-05-19   테스트곡1  테스트가수1   NaN   NaN
2  2022-05-20   테스트곡1  테스트가수1  12.0   NaN